
{{#if (checkRole role)}}
<div class="dashboard-container organization-dashboard">
    <h1>Welcome, {{organizationProfile.name}}!</h1>
    
    <section class="profile-section">
        <h2>Organization Profile</h2>
        <ul>
            <li><strong>Email:</strong> {{extra.email}}</li>
            <li><strong>Phone:</strong> {{organizationProfile.phone}}</li>
            <li><strong>Location:</strong> {{organizationProfile.address}}</li>
            <li><strong>Description:</strong> {{organizationProfile.description}}</li>
            <li><strong>Mission Statement:</strong> {{organizationProfile.mission}}</li>
        </ul>
        <img src="{{organizationProfile.logoImage}}" alt="Organization Logo" srcset="">
        <a href="/dashboard/edit-organization-profile" class="btn">Edit Organization Profile</a>
    </section>
    <a href="dashboard/opportunities/new" class="btn">Post New Opportunity</a>
    <section class="organization-opportunities">
        <h2>Your Posted Opportunities</h2>
        {{#if postedOpportunities.length}}
            <ul>
                {{#each postedOpportunities}}
                    <li>
                        <a href="/opportunities/{{this.id}}">
                        <strong>{{this.title}}</strong> - {{this.date}}<br>
                        </a>
                        <p>{{this.description}}</p>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>You have not posted any volunteer opportunities yet.</p>
        {{/if}}
        
    </section>
</div>
{{else}}
<!-- views/dashboard.handlebars -->
<div class="dashboard-container">
    <h1>Welcome, {{organizationProfile.name}}!</h1>

    <section class="profile-section">
        <h2>Your Profile</h2>
        <ul>
            <li><strong>Email:</strong> {{extra.email}}</li>
            <li><strong>Phone:</strong> {{volunteerProfile.phone}}</li>
            <li><strong>Location:</strong> {{volunteerProfile.address}}</li>
            <li><strong>Bio:</strong> {{volunteerProfile.bio}}</li>
        </ul>
        <img src="{{volunteerProfile.profileImage}}" alt="" srcset="">
        <a href="/dashboard/edit-volunteer-profile" class="btn">Edit Profile</a>
    </section>

    <section class="volunteer-activity">
        <h2>Your Volunteer Opportunities</h2>
        {{#if opportunities.length}}
        <ul>
            {{#each opportunities}}
            <li>
                <a href="/opportunities/{{this.id}}">
                    <strong>{{this.title}}</strong> - {{this.date}}<br>
                </a>
                <p>{{this.description}}</p>

            </li>
            {{/each}}
        </ul>
        {{else}}
        <p>You have not signed up for any volunteer opportunities yet.</p>
        {{/if}}
        <a href="/opportunities" class="btn">Browse Opportunities</a>
    </section>
</div>

{{/if}}
<script src="/js/dashboard.js"></script>