<!-- views/dashboard.handlebars -->

<div class="dashboard-container">
    <h1>Welcome, {{volunteerProfile.firstName}} {{volunteerProfile.lastName}}!</h1>
    
    <section class="profile-section">
        <h2>Your Profile</h2>
        <ul>
            <li><strong>Email:</strong> {{extra.email}}</li>
            <li><strong>Phone:</strong> {{volunteerProfile.phone}}</li>
            <li><strong>Location:</strong> {{volunteerProfile.address}}</li>
            <li><strong>Bio:</strong> {{volunteerProfile.bio}}</li>
        </ul>
        <img src="{{volunteerProfile.profileImage}}" alt="" srcset="">
        <a href="/dashboard/edit-volunteer-profile" class="btn">Edit Profile</a>
    </section>

    <section class="volunteer-activity">
        <h2>Your Volunteer Opportunities</h2>
        {{#if opportunities.length}}
            <ul>
                {{#each opportunities}}
                    <li>
                        <a href="/opportunities/{{this.id}}">
                        <strong>{{this.title}}</strong> - {{this.date}}<br>
                        </a>
                        <p>{{this.description}}</p>
                        
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>You have not signed up for any volunteer opportunities yet.</p>
        {{/if}}
        <a href="/opportunities" class="btn">Browse Opportunities</a>
    </section>
</div>

<script src="/js/dashboard.js"></script>