<a href="/" class="back-button">← Back to Home</a>
<section class="opportunity-details">
    <h1>{{opportunity.title}}</h1>
    <p><strong>Date:</strong> {{opportunity.date}}</p>
    <p><strong>Location:</strong> {{opportunity.location}}</p>
    <p><strong>Description:</strong></p>
    <p>{{opportunity.description}}</p>

    {{#if opportunity.requirements}}
        <h3>Requirements</h3>
        <ul>
            {{opportunity.requirements}}
        </ul>
    {{/if}}

    {{#if opportunity.skills}}
        <h3>Skills Needed</h3>
        <ul>
            {{#each opportunity.skills}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    {{/if}}
    <div class="volunteers-container">
        <h3>Volunteers</h3>
        <ul class="volunteer-list">
            {{#each opportunity.volunteers}}
            <li class="volunteer-list-item">{{this.firstName}} {{this.lastName}}</li>
            {{/each}}
        </ul>
    </div>
        
    <p><strong>Spots Available:</strong> {{opportunity.spotsAvailable}}</p>
    <p><strong>Spots Filled:</strong> {{opportunity.spotsFilledCount}}</p>
    {{!-- Check user is logged in --}}
    {{#if loggedIn}}
        {{!-- Check is user is signed up for this opportunity --}}
        {{#if (signedUp loggedInUserId opportunity.volunteers)}}
        <form id="cancel-signup-form" method="DELETE">
            <button class="cancel-signup" type="submit">Cancel Sign Up</button>
        </form>
        {{else}}
        <form id="signup-form" method="POST">
            <button class="signup-btn" type="submit">Sign Up</button>
        </form>
        {{/if}}        
    {{else}}
        <p><a href="/login">Log in</a> to sign up for this opportunity.</p>
    {{/if}}
</section>
{{#if loggedIn}}
    {{#if (signedUp loggedInUserId opportunity.volunteers)}}
        <script src="/js/cancel-signup.js"></script>
    {{else}}   
        <script src="/js/volunteer-signup.js"></script>
    {{/if}}
{{/if}}